html {
background-color: #292929;
font-family: MONOSPACE;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.TopMenu {
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 100;
}

.center {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.buttons {
    width: 60%;
    height: 70%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    background-color: #949494;
    flex-wrap: wrap;
    border: 1px solid #292929;
}

.ButtonsTop {
    margin: 0 10px 0 10px;
    font-size: calc(10px + 6 * (100vw - 320px) / 880);
    height: 50%;
    border-radius: 5px;
    background-color: whitesmoke	;
    cursor: pointer;
    color: red;
    border: 1px solid black ;
    min-width: 0;
    flex-shrink: 1;

}

.logo {
    width: 15%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.ImgLogo {
    width: 30%;
    height: 100%;
    border-radius:50% ;
    object-fit: contain;
}

.TextLogo {
    color: red;
-webkit-text-stroke: black 0.3px;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    min-width: 30%;
}

.menu {
    border-radius: 1%;
    width: 80%;
    height: 95%;
    margin-top: 70px;
    background-color: #575757;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
}

.dish {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5%;
    width: 220px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: #949494;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(175, 0, 0);
    font-size: 36px;
    background-color: #949494;
}

.ImgDish {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.TextDish {
    width:90% ;
    height:35% ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content:space-around ;
    background-color: #bbbbbb;
    border-radius: 10px;
}

.NameDish {
    width: 90%;
    height: 15%;
    font-size: calc(10px + 4 * (100vw - 320px) / 880);
    display: flex;
    justify-content:flex-start ;
    align-items: center;

}

.AboutDish {
    width: 90%;
    height: 50%;
    font-size: calc(10px + 1 * (100vw - 320px) / 880);

}   

.PriceDish {
    width: 90%;
    height: 15%;
    font-size: calc(12px + 4 * (100vw - 320px) / 880);
    display: flex;
    justify-content:flex-end ;
    align-items: center;
}

.dan {
    height: 32px;
    width: 32px;
    flex-wrap: wrap;
    position:relative;
    bottom: 40px;
    right: 80px;
}

.ImgDishImg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.a12 {
    width: 32px;
    height: 32px;
}

.a11 {
    width: 100%;
    height: 100%;

}

.ImgDish1 {
    width: 90%;
    height:65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top:5%;
}

.TextDish1 {
    width:90% ;
    height:20% ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content:space-around ;
    background-color: #bbbbbb;
    border-radius: 10px;
}

.NameDish1 {
    width: 90%;
    height: 70%;
    font-size: calc(10px + 4 * (100vw - 320px) / 880);
    display: flex;
    justify-content:flex-start ;
    align-items: flex-start;

}


.PriceDish {
    width: 90%;
    height: 22%;
    font-size: calc(12px + 4 * (100vw - 320px) / 880);
    display: flex;
    justify-content:flex-end ;
    align-items: center;
}




